body{
	background-image: url(https://img.freepik.com/free-vector/royal-watercolor-valentine-red-background_1340-4028.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
ul,ol{
	color: pink;
	font-size: 20px;
	text-shadow: 0px 0px 10px wheat;
	margin: 10px;
}
p{
	font-size: 50px;
	text-align: center;
}
.l1 li{
	padding-left: 30px;
}
.l2 li::marker{
	color: fuchsia;
	font-size: 1.2em;
}
@counter-style cs-symbolic {
  system: cyclic;
  symbols: '*' ⁑ † ‡;
  range: 1 15;
  suffix: " ";
}

ul.l3{
  list-style: cs-symbolic;
}


